In [12]:
import datetime
import pandas_datareader.data as web

In [17]:
start = datetime.datetime(2020, 9, 1)
end = datetime.datetime.now()
stock='TSLA'
df = web.DataReader(stock, 'yahoo', start, end)
df

                  High         Low  ...     Volume   Adj Close
Date                                ...
2020-09-01  502.489990  470.510010  ...   90119400  475.049988
2020-09-02  479.040009  405.119995  ...   96176100  447.369995
2020-09-03  431.799988  402.000000  ...   87596100  407.000000
2020-09-04  428.000000  372.019989  ...  110321900  418.320007
2020-09-08  368.739990  329.880005  ...  115465700  330.209991
2020-09-09  369.000000  341.510010  ...   79465800  366.279999
2020-09-10  398.989990  360.559998  ...   84930600  371.339996
2020-09-11  382.500000  360.500000  ...   60717500  372.720001
2020-09-14  420.000000  373.299988  ...   83020600  419.619995
2020-09-15  461.940002  430.700012  ...   97298200  449.760010
2020-09-16  457.790009  435.309998  ...   72279300  441.760010
2020-09-17  437.790009  408.000000  ...   76779200  423.429993
2020-09-18  451.000000  428.799988  ...   86406800  442.149994
2020-09-21  455.679993  407.070007  ...  109476800  449.390015
2020-09-22  437.760010  417.600006  ...   79580800  424.230011
2020-09-23  412.149994  375.880005  ...   95074200  380.359985
2020-09-24  399.500000  351.299988  ...   96199700  387.790009
2020-09-25  404.500000  391.299988  ...   24241006  403.748199

[18 rows x 6 columns]

In [20]:
df['Close_Tomorrow'] = df['Close'].shift(-1)
df

                  High         Low  ...   Adj Close  Close_Tomorrow
Date                                ...
2020-09-01  502.489990  470.510010  ...  475.049988      447.369995
2020-09-02  479.040009  405.119995  ...  447.369995      407.000000
2020-09-03  431.799988  402.000000  ...  407.000000      418.320007
2020-09-04  428.000000  372.019989  ...  418.320007      330.209991
2020-09-08  368.739990  329.880005  ...  330.209991      366.279999
2020-09-09  369.000000  341.510010  ...  366.279999      371.339996
2020-09-10  398.989990  360.559998  ...  371.339996      372.720001
2020-09-11  382.500000  360.500000  ...  372.720001      419.619995
2020-09-14  420.000000  373.299988  ...  419.619995      449.760010
2020-09-15  461.940002  430.700012  ...  449.760010      441.760010
2020-09-16  457.790009  435.309998  ...  441.760010      423.429993
2020-09-17  437.790009  408.000000  ...  423.429993      442.149994
2020-09-18  451.000000  428.799988  ...  442.149994      449.390015
2020-09-21  455.679993  407.070007  ...  449.390015      424.230011
2020-09-22  437.760010  417.600006  ...  424.230011      380.359985
2020-09-23  412.149994  375.880005  ...  380.359985      387.790009
2020-09-24  399.500000  351.299988  ...  387.790009      403.748199
2020-09-25  404.500000  391.299988  ...  403.748199             NaN

[18 rows x 7 columns]

In [21]:
df.dropna(inplace=True)
df['Daily_Return'] = (df['Close_Tomorrow'] - df['Close']) / df['Close']
df

                  High         Low  ...  Close_Tomorrow  Daily_Return
Date                                ...
2020-09-01  502.489990  470.510010  ...      447.369995     -0.058268
2020-09-02  479.040009  405.119995  ...      407.000000     -0.090238
2020-09-03  431.799988  402.000000  ...      418.320007      0.027813
2020-09-04  428.000000  372.019989  ...      330.209991     -0.210628
2020-09-08  368.739990  329.880005  ...      366.279999      0.109234
2020-09-09  369.000000  341.510010  ...      371.339996      0.013815
2020-09-10  398.989990  360.559998  ...      372.720001      0.003716
2020-09-11  382.500000  360.500000  ...      419.619995      0.125832
2020-09-14  420.000000  373.299988  ...      449.760010      0.071827
2020-09-15  461.940002  430.700012  ...      441.760010     -0.017787
2020-09-16  457.790009  435.309998  ...      423.429993     -0.041493
2020-09-17  437.790009  408.000000  ...      442.149994      0.044210
2020-09-18  451.000000  428.799988  ...      449.390015      0.016375
2020-09-21  455.679993  407.070007  ...      424.230011     -0.055987
2020-09-22  437.760010  417.600006  ...      380.359985     -0.103411
2020-09-23  412.149994  375.880005  ...      387.790009      0.019534
2020-09-24  399.500000  351.299988  ...      403.748199      0.041152

[17 rows x 8 columns]